*{
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid #333;
}

.color{
    display: table-cell;
    width: 50px;
    height: 50px;
    margin: 0 1 px;
    cursor: pointer;
    border: 2px solid #fff;
}
.color-rojo{
    background-color: red;
}
.color-azul{
    background-color: blue;
}
.color-verde{
    background-color: green;
}